@import url("https://cdn.syncfusion.com/ej2/material.css");
@import url(./base.css);
.date-picker-container{
    opacity: 1 !important;
    position: absolute;
    width: 400px;
    height: 250px;
    top: 0;
    left: calc(100% + 5px);
    background-color: var(--white-color);
    box-shadow: 0 0 10px rgba(0, 55, 10, 0.1);
    border-radius: 10px;
    padding: 15px;
    z-index: 1;
    font-weight: 450;
    overflow: hidden;
}
.calendar__header{
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 500;
}
.calendar__header .year-picker{
    font-size: 2rem;
}

.calendar__header .month-picker {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.calendar__header .month-picker i{
    font-weight: 400;
    margin-right: 0;
    font-size: 1.8rem;
    padding: 0 10px;
}

.calendar__body{
    margin-top: 15px;
    padding: 10px;
    
}

.calendar__week-day{
    margin-left: 10px;
    display: grid;
    height: 40px;
    font-size: 1.6rem;
    gap: 10px;
    font-weight: 500;
    opacity: 0.5;
    grid-template-columns: repeat(7, 1fr);
}

.calendar__days{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 2px;
}
.calendar__days div{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    position: relative;
    animation: to-top 1s forwards;
    font-size: 1.8rem;
    cursor: pointer;
}

.calendar__days div span{
    position: absolute;

}

.calendar__days div:hover{
    background-color: var(--primary-color);
    color: var(--white-color);
    border-radius: 50%;
}



/* Content */

/* FILTER */
.ticket-main{
    display: flex;
    font-size: 1.6rem;
    margin-left: -40px;
}

.ticket__filter{
    flex: 3;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 15px;
    /* background-color: rgba(0, 0, 0, 0.01); */
    box-shadow:  10px 0px 15px -2px rgba(0, 0, 0, 0.03);
}

.filter-header h3 {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    font-size: 2.2rem;
    font-weight: 400;
    margin: 10px 10px 10px;
}
.filter-header h3:after{
    content: "";
    border-bottom: 4px solid var(--primary-color);
    width: 100%;
    color: rebeccapurple;
    position: absolute;
    left: 0px;
    bottom: -10px;
}

.filter-body{
    margin-left: 20px;
}
.session-filter{
    margin-top: 40px;
}

.session-filter__title{
    font-size: 1.8rem;
}

.session-filter__title span{
    margin-left: 20px;
}

.session-filter .price{
    margin-top: 10px;
    margin-left: -50px;
    margin-bottom: 5px;
}
.slider-price{
    width: 250px;
}
/* Time Filter */

.filter-wrap-property{
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
}
.filter__time{
   
}

.time__item{
    font-size: 1.5rem;
    display: inline-block;
    padding: 5px;
    margin: 10px;
    min-width: 90px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    background-color: var(--white-color);
    color: var(--text-color);
    box-shadow: 0 2px 0px rgba(0, 55, 10, 0.1);
    width: 100px;
}

.time__item.active{
    background-color: var(--primary-color);
    color: var(--white-color);
    box-shadow: 0 2px 0px rgba(0, 55, 10, 0.2);
}

/* bushouse item */
.wrapper-ticket-main{
    display: flex;
    justify-content: center;
}

.ticket__founded{
    flex: 7;
    margin-left: 20px;
    margin-top: 20px;
    width: 400px;
}

.filter__bus-house{
   
}

.bus-house__item{
    display: flex;
    align-items: center;
    margin: 10px;
    font-size: 1.4rem;
    margin-top: 15px;
    min-width: 110px;

}
.session-filter input{
    border-width: 2px;
    margin-right: 10px;
    width: 25px;
    height: 25px;
    border-radius: 8px;
   
}
.session-filter input:after{
    font-size: 1.3rem;
}

/* Service filter */


.filter__services{
    flex-direction: column;
    padding-bottom: 30px;
    border: solid 1px rgba(0, 55, 10, 0.1);
    border-radius: 15px;
    padding: 20px;
    width: 80%;
    margin-bottom: 50px;
}

.services__item{
    display: flex;
    padding: 10px;
    
}


/* BUS FOUNDED */

.ticket__header {
    
}
.ticket__header__title{
    letter-spacing: 0.1px;
    font-size: 1.8rem;
    opacity: 0.8;
    margin-left: 25px;
    margin-bottom: 20px;
}
.ticket__header__title span{
    color: var(--primary-color);
    margin: 0 5px;
}

.ticket__header__option{
    display: flex;
    margin-top: 20px;
    margin-bottom: 30px;
}
.option__item{
    margin: 0 10px;
    padding: 6px 20px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    font-size: 1.4rem;
}
.option__item.active{
    background-color: var(--brown-color);
    color: var(--white-color);
    border-radius: 20px;
}

/* Bus Founded */
.ticket-detail__wrapper{
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    margin-left: 80px;
    width: 800px;
    margin-bottom: 50px;
}
.ticket-detail{
    display: flex;
    margin-top: 20px;
   
}
.ticket-detail img{
    flex: 1;
    width: 250px;
    padding-left: 40px;
   
}
.ticket-detail__short-info{
    flex:5;
    margin-left: 40px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.short-info__heading {
    display: flex;
    justify-content: space-between;
    flex: 1;
}
.short-info__name  {
    font-size: 2.1rem;
    font-weight: 500;
    opacity: 0.9;

}
.short-info__price{
    flex: 1;
    text-align: right;
    margin-right: 30px;
    font-size: 1.8rem;
    color: var(--primary-color);
    font-weight: 500;
}
.short-info__mark{
    margin-right: 20px;
    font-size: 1.8rem;
    cursor: pointer;
}

.short-info__desc{
    flex: 2;
}
.short-info__option{
    display: flex;
    justify-content: flex-end;
    flex: 1;
    align-items: center;
    margin: 0 30px 10px 0;
}

.option__quick-see{
    position: relative;
    display: flex;
    align-items: center;
    color: var(--primary-color);
    background-color: var(--white-color);
    padding: 10px 14px 12px;
    border-radius: 15px;
    margin: 10px;
    margin-right: 20px;
    cursor: pointer;
    overflow: hidden;
}
@keyframes changeStatusOpenQuick {
    from{
        opacity: 0;
        transform: rotate(0deg);
    }
    to{
        opacity: 1;
        transform: rotate(180deg);
    }
}
@keyframes changeStatusOpenQuick1 {
    from{
        opacity: 0;
        transform: rotate(180deg);
    }
    to{
        opacity: 1;
        transform: rotate(0deg);
    }
}
.option__quick-see i{
    margin-left: 8px;
    margin-top: 3px;
    animation: changeStatusOpenQuick1 0.5s ease;
    transform: rotate(0deg);
}
.option__quick-see.active i{
    display: block;
    animation: changeStatusOpenQuick 0.5s ease;
    transform: rotate(180deg);

}

.option__choose-this{
   padding: 10px 18px;
   border-radius: 15px;
}

/* Quick See */
.quick-see__content{
    margin-top: 10px;
    background-color: var(--white-color);
    width: 100%;
    min-width: 300px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-bottom: 10px;
    display: none;
}
.quick-see__content.active{
    display: block;
}
.quick-see__tab{
    display: flex;
   
}

/* line only */
.quick-see__tab__indicator{
    position: relative;
    width: 100px;
    height: 5px;
    background-color: var(--primary-color);
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 15px;
    transition: all 0.5s ease-in-out;
}
.indi1{
    margin-left: 48px;
    width: 60px;
}
.indi2{
    margin-left: 158px;
    width: 50px;
}
.indi3{
    margin-left: 260px;
    width: 85px;
}
.indi4{
    margin-left: 400px;
    width: 55px;
}
.indi5{
    margin-left: 510px;
    width: 65px;
}
.indi6{
    margin-left: 10px;
    width: 50px;
}


/* end: indicator */


.quick-see__line::after{
    content: "";
    display: block;
    border-bottom: 2px solid var(--border-shadow-color);
    width: 100%;
}
.quick-see__tab .tab{
    margin-top: 20px;
    margin-left: 45px;
    cursor: pointer;
}

.quick-see__tab .tab.active{
    color: var(--primary-color);
    font-weight: 500;
}

/* quick see main */
.quick-see__main{
    min-height: 300px;
}

.quick-see__main__wrapper{
    
}

.quick-see__main .quick-see__tab {
    display: none;
}

.quick-see__main .quick-see__tab.active {
    display: block;
    animation: moveLeft 0.3s ease;
}
@keyframes moveLeft {
    from{   
        transform: translateY(200px);
        opacity: 0.5;

    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Ticket__detail utilities */

.ticket-utilities{
    padding: 0 10px 0 30px;
}
.ultility .ultility__header {
    width: 100%;
    text-align: left;
    margin: 35px 20px 10px;
    color: var(--primary-color);
    font-weight: 500;
    font-size: 1.7rem;
}

.ultility .main{
    display: flex;
    flex-wrap: wrap;
}
.ultility .main .session-item{
    margin: 15px;
    display: flex;
    align-items: center;
    min-width: 350px;
}
.ultility .main .services__item{
    font-size: 1.5rem;
        margin-left: 10px;
        margin-top: 5px;
}
.ultility .main .services__item input{
    margin-right: 20px;
}
.session-item .session-icon{
    margin-right: 30px;
    font-size: 3rem;
    color: var(--primary-color);
}
.session-item .session-content .session-title{
    font-size: 1.6rem;
    font-weight: 500;
    opacity: 0.9;
    margin-bottom: 6px;
}
.session-item .session-content .session-desc{
    font-size: 1.4rem;
}

/* end: Ticket__detail utilities */




.policy-item{
    margin-left: 25px;
    margin-top: 20px;
    list-style-type: none;

}
.policy-item__title{
    margin-top: 30px;
    font-size: 1.7rem;
    font-weight: 500;
    color: var(--primary-color);

}
.policy-item__detail li{
    list-style-type: inherit;
    margin-top: 15px;
}
/* policy  */

/* end : policy */


/* Ratting */
.ticket-rating{
    text-align: center;
    margin-top: 20px;
}
/* End: rating */

